/*-------------- Header --------------*/

header {
    background-color: black;
    text-align: center;
}

#darkmode, #how-to-play {
    color: #d5dadd;
}

#home, #how-to-play button {
    color: #d5dadd;
}

#home-button {
    color:white;
}

/*-------------- Footer - Home --------------*/

.footer-home {
    position:fixed;
    bottom:0px;
    text-align: center;
    background-color: black;
    color:#d5dadd;;
}

.footer-text {
    margin-top:15px;
}

/*-------------- Footer - Challenge --------------*/

.footer-challenge {
    position:fixed;
    bottom:0px;
    text-align: center;
    background-color: black;
    color:#d5dadd;;
}

.facebook-login {
    color: white;
    border-color: white;
}