@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*-------------- Universal Site Settings --------------*/

.press-start {
    font-family: 'Press Start 2P', cursive;
}

/*-------------- Header --------------*/

header {
    position:fixed;
    background-color: #d5dadd;
    text-align:center;
    width:100%;
}

#darkmode, #how-to-play {
    margin-top: 5px;
}

#home {
    margin-top: 5px;
}

#home a, #how-to-play a {
    text-decoration: none;
    color: black;
}

/*-------------- Hero Image - Home --------------*/

#hero-home {
    width:100%;
    height:100%;
    background: url("../images/artificial-intelligence.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    position:fixed;
    z-index:-100;
}

/*-------------- Levels - Home --------------*/

#levels-section {
    position:fixed;
    top:20%;
    left:45%;
}

.select-level {
    text-align: center;
}

#levels a, .row a {
    text-decoration: none;
    color: black;
}

.circle {
    width: 125px;
    height: 125px;
    line-height:125px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
}

.circle:hover {
    left:20%;
    width: 150px;
    height: 150px;
    line-height:150px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
    text-decoration: underline;
}

.green {
    margin-top:25px;
    background-color:green;
}

.yellow {
    margin-top:25px;
    background-color:yellow;
}

.red {
    background-color:red;
}

/*-------------- Footer - Home --------------*/

.footer-home {
    position:fixed;
    bottom:0px;
    text-align: center;
    background-color: #d5dadd;
}

.footer-text {
    margin-top:15px;
}