@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*-------------- Universal Site Settings --------------*/

.press-start {
    font-family: 'Press Start 2P', cursive;
}

/*-------------- Header --------------*/

header {
    position:fixed;
    background-color: #d5dadd;
    text-align:center;
    width:100%;
    z-index:50;
}

#darkmode, #how-to-play {
    margin-top: 5px;
}

#home {
    margin-top: 5px;
}

li a {
    text-decoration: none;
    color: black;
}

nav {
    display:none;
}

/*-------------- Hero Image - Home --------------*/

#hero-home {
    width:100%;
    height:100%;
    background: url("../images/artificial-intelligence.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    position:fixed;
    z-index:-100;
}

/*-------------- Levels - Home --------------*/

.select-level {
    position:relative;
    top:275px;
    text-align: center;
}

#levels a, .row a {
    text-decoration: none;
    color: black;
}

.level-1, .level-2 {
    margin-top:50px;
}

/*-------------- Footer - Home --------------*/

.footer-home {
    position:fixed;
    bottom:0px;
    text-align: center;
    background-color: #d5dadd;
}

.footer-text {
    margin-top:15px;
}

/*-------------- Hero Image - Challenge --------------*/

#hero-training {
    width:100%;
    height:100%;
    background: url("../images/chess.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    position:fixed;
    z-index:-100;
}

/*-------------- Title - Challenge --------------*/

#level-title {
    position:fixed;
    top:75px;
    text-align:center;
    width:100%;
    color:#d5dadd;
    z-index:10;
    padding-right: 25px;
    text-shadow:-1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

/*-------------- Cards - Challenge --------------*/

.cards-section {
    margin-top:100px;
    margin-bottom:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cards-section .row {
    width:100%;
}

.card {
    width:75px;
    height:100px;
    margin-top:40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.row-2, .row-3, .row-4 {
    margin-top:10px;
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card-front {
    width:75px;
    height:100px;
    background: url("../images/playing-card.jpg") no-repeat center center;
    border-radius: 5px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

.card-back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  position: absolute;
  text-align: center;
}

.card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.antelope-canyon, .barley-field, .book, .fall-road, .fog, .lake, .railway, .road, .sailing-ship, .sunbeams, .tree, .wintry {
    width:75px;
    height:100px;
    border-radius: 5px;
}

.antelope-canyon {
    background: url("../images/antelope-canyon.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.barley-field {
    background: url("../images/barley-field.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.book {
    background: url("../images/book.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.fall-road {
    background: url("../images/fall-road.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.fog {
    background: url("../images/fog.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.lake {
    background: url("../images/lake.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.railway {
    background: url("../images/railway.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.road {
    background: url("../images/road.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.sailing-ship {
    background: url("../images/sailing-ship.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.sunbeams {
    background: url("../images/sunbeams.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.tree {
    background: url("../images/tree.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

.wintry {
    background: url("../images/wintry.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    transform:rotateY(180deg);
}

/*-------------- Timer - Challenge --------------*/

.timer-section {
    color:#d5dadd;
    position: fixed;
    bottom:75px;
    text-align:center;
    font-size:1.5em;
    width:100%;
}

#moves-section, #timer {
    border:2px solid #d5dadd;
    border-radius:10px;
    text-shadow:-1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

#timer-title, #moves-title {
    margin-left:20px;
    margin-top:5px;
    margin-bottom:5px;
}

#seconds, #moves {
    margin-right:20px;
}

/*-------------- Footer - Challenge --------------*/

.footer-challenge {
    position:fixed;
    bottom:0px;
    text-align: center;
    background-color: #d5dadd;
}

/*-------------- Media Queries --------------*/

@media screen and (min-height: 1000px) {
    .select-level {
        top:350px;
    }
}

@media screen and (min-height: 1300px) {
    .select-level {
        top:500px;
    }
}

@media screen and (max-height: 825px) {
    .row-2, .row-3, .row-4 {
        margin-top:-20px;
    }
}

@media screen and (max-height: 775px) {
    .select-level {
        top:200px;
    }
}

@media screen and (max-height: 725px) {
    .row-2, .row-3, .row-4 {
        margin-top:-35px;
    }
}

@media screen and (max-height: 600px) {
    .select-level {
        top:150px;
    }
}

@media screen and (max-width: 1415px) {
    #level-title {
        top:100px;
    }
}

@media screen and (max-width: 767px) {
    nav {
        display:block;
    }

    #darkmode, #how-to-play {
        display:none;
    }

    .row-2, .row-3, .row-4 {
        margin-top:10px;
    }
}

@media screen and (max-width: 403px) {
    .timer-section {
        font-size:1em;
        bottom:100px;
    }
}

@media screen and (max-width:366px) {
    #level-title {
        top:120px;
    }

    .cards-section {
        margin-top:120px;
    }
}

@media screen and (max-width: 320px) {
    .timer-section {
        font-size:.75em;
        bottom:100px;
    }
}

@media screen and (max-width: 300px) {
    .cards-section {
        margin-right:20px;
    }
}